* {
    padding: 0px;
    margin: 0px;
}

nav {
    background-color: aquamarine;
    color: brown;
}

nav ul {
    overflow: hidden;
}

nav ul li {
    list-style-type: none;
    float: left;
    padding: 5px;
}

li a {
    text-decoration: none;
}