* {
    margin: 0%;
}

#ab {
    background-color: rgb(96, 100, 56)
}

#cd {
    background-color: rgb(96, 100, 56)
}

.footer1 {
    color: red;
    background-color: white;
}

#cl {
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 2200%;
}

#bk {
    background-image: url(img/ll.jpg);
    width: 40%;
    font-family: 'Times New Roman', Times, serif;
    background-size: 10%;
    border-radius: 0px;
}

#s {
    background-color: turquoise;
}