            * {
                margin: 0%;
            }
            
            #ab {
                background-color: lightcoral
            }
            
            #cd {
                background-color: lightcoral
            }
            
            .footer1 {
                color: blue;
                background-color: white;
            }
            
            #cl {
                color: red;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                margin-left: 2200%;
            }
            
            #bk {
                background-image: url(img/ll.jpg);
                width: 140%;
                font-family: 'Times New Roman', Times, serif;
                background-size: 110%;
                border-radius: 50px;
            }
            
            #s {
                background-color: turquoise;
            }